<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
		"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- namespace:-->
<mapper namespace="com.test.mapper.JobRequirMapper">
	<resultMap type="com.test.entity.JobRequirEntity" id="JobRequirEntity">
		<id column="requir_id" property="requirId" />
		<result column="user_id" property="userId" />
		<result column="requir_name" property="requirName" />
		<result column="requir_desc" property="requirDesc" />
		<result column="begin_date" property="beginDate" />
		<result column="end_date" property="endDate" />
		<result column="work_address" property="workAddress" />
		<result column="requir_person" property="requirPerson" />
		<result column="salary" property="salary" />
		<result column="link_phone" property="linkPhone" />
		<result column="task_status" property="taskStatus" />
		<result column="create_by" property="createBy" />
		<result column="create_time" property="createTime" />
		<result column="audit_by" property="auditBy" />
		<result column="audit_time" property="auditTime" />
		<result column="audit_remark" property="auditRemark" />
		<result column="address_code" property="addressCode" />
		<result column="education" property="education" />
		<result column="experience" property="experience" />
		<result column="post_id" property="postId" />
		<result column="type" property="type" />
	</resultMap>
	<!-- /**
         *
         * @param address
         * @return
         */
        List<JobRequirEntity> findJobByCode(String code);-->
	<select id="findJobByCode" resultMap="JobRequirEntity">
		select * from pt_job_requir where address_code=#{code} and task_status="2" order by create_time desc limit 0,10
	</select>
	<!--
	 /**
     *
     * @param jobRequirEntity
     * @return
     */
    Integer addJobRequir(JobRequirEntity jobRequirEntity);-->
	<insert id="addJobRequir">
		insert into pt_job_requir (
		user_id,requir_name,requir_desc,
		begin_date,end_date,work_address,
		requir_person,salary,link_phone,
		task_status,create_by,
		audit_by,audit_time,audit_remark,address_code,
		education,experience,post_id,type
		)values (
		#{userId},#{requirName},#{requirDesc},
		#{beginDate},#{endDate},#{workAddress},
		#{requirPerson},#{salary},#{linkPhone},
		#{taskStatus},#{createBy},
		#{auditBy},#{auditTime},#{auditRemark},#{addressCode},
		#{education},#{experience},#{postId},#{type}
		)

	</insert>
	<!--
	 /**
     *
     * @param userId
     * @return
     */
    List<JobRequirEntity> findListByUserId(Integer userId);
	-->
	<select id="findListByUserId" resultMap="JobRequirEntity">
		select * from pt_job_requir where user_id=#{userId}
	</select>

	<!--
	/**
     * 修改用工需求
     * @param jobRequirEntity 实体对象
     * @return 是否成功
     */
    Integer changeJobRequir(JobRequirEntity jobRequirEntity);-->
	<insert id="changeJobRequir">
		insert into copy_pt_job_requir (
		user_id,requir_name,requir_desc,
		begin_date,end_date,work_address,
		requir_person,salary,link_phone,
		task_status,create_by,create_time,
		audit_by,audit_time,audit_remark,address_code,
		education,experience,post_id,type
		)values (
		#{userId},#{requirName},#{requirDesc},
		#{beginDate},#{endDate},#{workAddress},
		#{requirPerson},#{salary},#{linkPhone},
		#{taskStatus},#{createBy},#{createTime},
		#{auditBy},#{auditTime},#{auditRemark},#{addressCode},
		#{education},#{experience},#{postId},#{type}
		)
	</insert>
	<!--
	 /**
     * 查看用工需求详情
     * @param requirId 需求id
     * @return
     */
    JobRequirEntity getByRequirId(Integer requirId);-->
	<select id="getByRequirId" resultMap="JobRequirEntity">
		select * from pt_job_requir where requir_id=#{requirId}
	</select>
	<!--
	 /**
     * 根据需求状态查找
     * @param userId 用户的id
     * @param taskStatus 需求状态
     * @return 用工需求
     */
    List<JobRequirEntity> getListByStatus(Integer userId,Integer taskStatus);-->
	<select id="getListByStatus" resultMap="JobRequirEntity">
		SELECT * from pt_job_requir where user_id=#{userId} and task_status=#{taskStatus} limit 0,1000;
	</select>

	<!--
	 /**
     * 修改指定用工需求的状态
     * @param requirId 需求id
     * @param taskStatus 状态
     * @return
     */
    Integer updateStatus(Integer requirId,String taskStatus);-->
	<update id="updateStatus">
		update pt_job_requir set task_status=#{taskStatus} where requir_id=#{requirId}
	</update>
</mapper>