<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.mapper.ScoreDetailMapper">

	<resultMap type="com.test.entity.ScoreDetailEntity" id="scoreDetailEntity">
		<result property="scoreId" column="score_id" />
		<result property="userId" column="user_id" />
		<result property="scoreType" column="score_type" />
		<result property="changeValue" column="change_value" />
		<result property="updateBy"    column="update_by" />
		<result property="updateDate" column="update_date" />
		<result property="remark" column="remark" />

	</resultMap>
	<!--
	 /**
     *
     * @param userId
     * @return
     */
    List<ScoreDetailEntity> findScoreById(Integer userId);-->
	<select id="findScoreById" resultMap="scoreDetailEntity">
	select  score_type,change_value,update_date,remark
	from pt_user_score_detail
	 where user_id=#{userId}
	</select>

	<!--
	  /**
     *
     * @param userId
     * @return
     */
    Integer countScoreValue(Integer userId);-->
	<select id="countScoreValue" >
		select sum(CONCAT(score_type,change_value)) score_value from pt_user_score_detail where user_id=#{userId}
	</select>
</mapper>